# Node
node_modules/
node_modules/**

# Logs
npm-debug.log*
yarn-error.log*

# Capacitor / Android build
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/

# IDE
.idea/
.vscode/
.DS_Store
